@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  background-color: #86efac;
}

.container {
  margin: auto;
}

.heading {
  margin: 3rem;
}

label {
  display: block;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

input {
  font-size: 1.2rem;
}

#show-btn {
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

#output {
  font-size: 1.5rem;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-unordered {
  list-style: none;
}

.inline-list {
  display: inline;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 0 5rem;
}

a,
img,
li {
  display: inline;
}

img {
  width: 40px;
  padding: 1rem 0.2rem;
}
